<%= form_with(model: recipe, local: true) do |form| %>
  <!-- title -->
  <div class="form-group">
    <%=form.label :title  %>
    <%=form.text_field :title, maxlength: 50, class: 'form-control' %>
  </div>

  <!-- description -->
   <div class="form-group">
    <%=form.label :description %>
    <%=text_area_tag :description, nil, class: 'form-control', rows: 2, cols: 25, maxlength: 100 %>
  </div>

  <!-- minutes -->
   <div class="form-group">
      <%=number_field :minutes, nil, min: 0, max: 999, class: 'form-control'%>
      <%=form.label :minutes%>
   </div>

   <!-- image -->
   <div class="form-group">
    <%=form.label :recipe_image%>
    <%= form.file_field :recipe_image %>
   </div>

   <!-- instructions -->
   <div class="form-group">
      <%=form.label :instructions %>
      <%=text_area_tag :instructions, nil, class: 'form-control', rows: 8, cols: 25 %>
   </div>

  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit class:'btn btn-primary'%>
  </div>
<% end %>
